@import "compass/css3/font-face";

@include font-face("icomoon", font-files("icomoon.woff?-u9irsy", "icomoon.ttf?-u9irsy", "icomoon.svg?-u9irsy#icomoon"), "icomoon.eot?#iefix-u9irsy");


$spin_deg: 359deg;

@-moz-keyframes spin {

  0% {
    -moz-transform: rotate(0deg);
  }


  100% {
    -moz-transform: rotate($spin_deg);
  }
}
@-webkit-keyframes spin {

  0% {
    -webkit-transform: rotate(0deg);
  }


  100% {
    -webkit-transform: rotate($spin_deg);
  }
}
@-o-keyframes spin {

  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate($spin_deg);
  }
}
@-ms-keyframes spin {

  0% {
    -ms-transform: rotate(0deg);
  }


  100% {
    -ms-transform: rotate($spin_deg);
  }
}
@keyframes spin {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate($spin_deg);
  }
}

.mtm-header {

	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-spinner:before {
		content: "\e604";
	}
	.icon-search:before {
		content: "\e605";
	}
	.icon-arrow-right:before {
		content: "\e600";
	}
	.icon-twitter:before {
		content: "\e601";
	}
	.icon-facebook:before {
		content: "\e602";
	}
	.icon-pinterest:before {
		content: "\e603";
	}	
	.icon-instagram:before {
		content: "\e609";
	}
	.icon-googleplus:before {
		content: "\e608";
	}
	
	.icon-arrow-down:before {
		content: "\e606";
	}
	
	.icon-menu:before {
		content: "\e607";
	}

	.icon-spinner {	
		-webkit-animation: spin 2s infinite linear;
		-moz-animation: spin 2s infinite linear;
		-o-animation: spin 2s infinite linear;
		animation: spin 2s infinite linear;
		font-size: 46px;

	}
	

}